JWT_SECRET=
COOKIE_SECRET=
PIA_USERNAME=
PIA_PASSWORD=
DB_PASSWD=
ROMM_AUTH_SECRET_KEY=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
STEAMGRIDDB_API_KEY=
RETROACHIEVEMENTS_API_KEY=
MARIADB_ROOT_PASSWORD=
SERVER_ROOT_DIR=